<mat-form-field>
  <mat-select placeholder="Client" [(ngModel)]="customer">
    <mat-option *ngFor="let customer of customers" [value]="customer">
      {{customer.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <input matInput [matDatepicker]="picker" [value]="workDay.start" placeholder="Choisir une date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<button mat-button (click)="onSaveDay()">
  Ajouter
</button>
