<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-left">
                <span class="font-weight-bolder">Nicolas Machut</span>
                <br/>
                <span>Siret : 82022283400021</span>
                <br/>
                <span>1 Rue du Languedoc</span>
                <br/>
                <span>33290 BLANQUEFORT</span>
                <br/>
                <span>machut.nicolas@gmail.com</span>
                <br/>
                <span>TVA Intracommunautaire : FR 62 820222834</span>
                <br/>
                <small>
                    Dispensé d’immatriculation au registre du commerce et des sociétés(RCS) et au répertoire des métiers(RM)
                </small>
            </div>
            <div class="col-md-6 text-right">
                <span class="font-weight-bolder">coober technologies</span>
                <br/>
                <span>41 rue du Professeur Calmette</span>
                <br/>
                <span>33150 Cenon</span>
                <br/>
                <span>Société à responsabilité limitée</span>
                <br/>
                <span>Date : 28/02/2019</span>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <span>Facture N° : 2019-02-001</span>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Prestations</th>
                        <th>Quantité</th>
                        <th>Prix unitaire HT</th>
                        <th>Total HT</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="align-middle">
                            <p>Sous-traitance informatique sur site client.</p>
                            <p>Forfait jour du 01/02/2019 au 28/02/2019</p>
                            <p>Réf. Contrat : 2017-ST-COBER_Technologies-Nicolas MACHUT--SIPA-00112-AV01</p>
                        </td>
                        <td class="align-middle">
                            20
                        </td>
                        <td class="align-middle">
                            270€
                        </td>
                        <td class="align-middle">
                            5400€
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row justify-content-end mt-1">
            <div class="col-md-4">
                <table class="table">
                    <tr>
                        <td>
                            Total Hors Taxe
                        </td>
                        <td>
                            5 400€
                        </td>
                    </tr>
                    <tr>
                        <td>
                            TVA à 20%
                        </td>
                        <td>
                            1 080€
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Total TTC
                        </td>
                        <td>
                            6 480€
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 text-left">
                <p>Date de Règlement : paiement par virement interbancaire à quarante-cinq (45) jours fin de mois, à compter de la date d'émission de la facture.</p>
                <p>Date d'exécution de la prestation : 28/02/19
                    Taxe de pénalités à compter du : 46ème jour à compter de la date de facturation. En l'absence de paiement : 2,79 %
                    Conditions d'escompte : Pas d'escompte pour règlement anticipé.
                </p>
            </div>
            <div class="col-md-6 text-right">
                <span>Coordonnées bancaires</span>
                <br/>
                <span>Titulaire du compte : M Nicolas Machut</span>
                <br/>
                <span>IBAN : FR76 4061 8803 0000 0402 1329 719</span>
                <br/>
                <span>BIC : BOUS FRPP XXX</span>
            </div>
        </div>
    </div>
</body>
</html>