<form [formGroup]="newCustomerForm">
  <mat-toolbar color="primary">
    <span>Nouveau client</span>
  </mat-toolbar>
  <div class="row mt-2">
    <div class="col-md-6">
      <div class="form-group">
        <mat-form-field>
          <mat-label>Nom</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <mat-form-field>
          <mat-label>Type d'entreprise</mat-label>
          <input matInput formControlName="companyType">
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <mat-form-field>
          <mat-label>Numéro de la rue</mat-label>
          <input matInput formControlName="streetNumber">
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <mat-label>Code postal</mat-label>
          <input matInput formControlName="postalCode">
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <mat-label>Ville</mat-label>
          <input matInput formControlName="city">
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <mat-form-field>
          <mat-label>Ligne 1</mat-label>
          <input matInput formControlName="route">
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <mat-label>Ligne 2</mat-label>
          <input matInput formControlName="route2">
        </mat-form-field>
      </div>
    </div>
    <button mat-button (click)="onSave()">Enregistrer</button>
  </div>
</form>











