<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 text-left">
            <span class="font-weight-bolder" th:text="${profile.companyName}"></span>
            <br/>
            <span>Siret : <span th:text="${profile.siret}"></span></span>
            <br/>
            <span th:text="${profile.address.route}"></span>
            <br/>
            <span th:text="${profile.address.postalCode}"></span>
            <span th:text="${profile.address.city}"></span>
            <br/>
            <span th:text="${principal.getName()}"></span>
            <br/>
            <span>TVA Intracommunautaire : <span th:text="${profile.tvaIntracom}"></span></span>
            <br/>
            <small>
                Dispensé d’immatriculation au registre du commerce et des sociétés(RCS) et au répertoire des métiers(RM)
            </small>
        </div>
        <div class="col-md-6 text-right">
            <span class="font-weight-bolder" th:text="${customer.name}"></span>
            <br/>
            <span th:text="${customer.address.streetNumber}"></span>
            <span th:text="${customer.address.route}"></span>
            <br/>
            <span th:text="${customer.address.postalCode}"></span>
            <span th:text="${customer.address.city}"></span>
            <br/>
            <span th:text="${customer.companyType}"></span>
            <br/>
            <span>Date : <span th:text="${billingDate}"></span></span>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <span>Facture N° : <span th:text="${billingNumber}"></span></span>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Prestations</th>
                    <th>Quantité</th>
                    <th>Prix unitaire HT</th>
                    <th>Total HT</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="align-middle">
                        <p>Sous-traitance informatique sur site client.</p>
                        <p>Forfait jour du 01/02/2019 au 28/02/2019</p>
                        <p>Réf. Contrat : 2017-ST-COBER_Technologies-Nicolas MACHUT--SIPA-00112-AV01</p>
                    </td>
                    <td class="align-middle" th:text="${#lists.size(workDays)}">
                    </td>
                    <td class="align-middle">
                        270€
                    </td>
                    <td class="align-middle" th:text="${totalHT}">

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row justify-content-end mt-1">
        <div class="col-md-4">
            <table class="table">
                <tr>
                    <td>
                        Total Hors Taxe
                    </td>
                    <td th:text="${totalHT}">

                    </td>
                </tr>
                <tr>
                    <td>
                        TVA à 20%
                    </td>
                    <td th:text="${taxPrice}">

                    </td>
                </tr>
                <tr>
                    <td>
                        Total TTC
                    </td>
                    <td th:text="${totalTTC}">

                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 text-left">
            <p>Date de Règlement : paiement par virement interbancaire à quarante-cinq (45) jours fin de mois, à compter de la date d'émission de la facture.</p>
            <p>Date d'exécution de la prestation : 28/02/19
                Taxe de pénalités à compter du : 46ème jour à compter de la date de facturation. En l'absence de paiement : 2,79 %
                Conditions d'escompte : Pas d'escompte pour règlement anticipé.
            </p>
        </div>
        <div class="col-md-6 text-right">
            <span>Coordonnées bancaires</span>
            <br/>
            <span>Titulaire du compte : <span th:text="${profile.owner}"></span></span>
            <br/>
            <span>IBAN : <span th:text="${profile.iban}"></span></span>
            <br/>
            <span>BIC : <span th:text="${profile.bic}"></span></span>
        </div>
    </div>
</div>
</body>
</html>